body{
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.278);
}
#calculator {
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.278);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.278);
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: #f0f0f0;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
button:hover {
  background-color: #e0e0e0;
}
button:active {
  background-color: #d0d0d0;
}
.operator-btn{
    background-color: #ff9800;
    color: white;
}
.operator-btn:hover {
    background-color: #e68900;
}
button:active.operator-btn {
    background-color: #cc7a00;
}