.slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}
.slider img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: none;
}
img.displaySlide {
  display: block;
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.388);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
